container_commands:
  00_download_epel:
    command: "sudo yum install -y gcc gcc-c++ make"
    ignoreErrors: false

  01_download_epel:
    command: "curl -sL https://rpm.nodesource.com/setup_14.x | sudo bash -"
    ignoreErrors: false

  02_install_node:
    command: sudo yum install -y nodejs
    ignoreErrors: false
