Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Metadata:
      AWS::CloudFormation::Authentication:
        S3AccessCred:
          type: "S3"
          roleName: "aws-elasticbeanstalk-ec2-role"
          buckets: "ekyc-configuration"

files:
  "/tmp/application.yml":
    mode: "000644"
    owner: webapp
    group: webapp
    source: https://ekyc-configuration.s3.ap-southeast-1.amazonaws.com/application.yml
    authentication: S3AccessCred

  "/tmp/translation_credentials.json":
    mode: "000644"
    owner: webapp
    group: webapp
    source: https://ekyc-configuration.s3.ap-southeast-1.amazonaws.com/translation_credentials.json
    authentication: S3AccessCred
    
  "/tmp/puma.rb":
    mode: "000644"
    owner: webapp
    group: webapp
    source: https://ekyc-configuration.s3.ap-southeast-1.amazonaws.com/puma.rb
    authentication: S3AccessCred

container_commands:
  00_rbenv_vars:
    command: "mv /tmp/application.yml /var/app/staging/config/application.yml"
  01_puma_rb:
    command: "mv /tmp/puma.rb /var/app/staging/config/puma.rb"
  02_translation_credentials:
    command: "mv /tmp/translation_credentials.json /var/app/staging/config/translation_credentials.json"
  03_bundle_install:
    command: "cd /var/app/staging && bundle config --local deployment true && bundle config --local without development:test && bundle install"
  04_migrate:
    leader_only: true
    command: "cd /var/app/staging && RAILS_ENV=$(/opt/elasticbeanstalk/bin/get-config environment -k RAILS_ENV) bundle exec rails db:migrate"
  05_set_permission:
    command: "sudo chown -R webapp:webapp /var/app/staging"
  06_precompile_assets:
    command: "cd /var/app/staging && RAILS_ENV=$(/opt/elasticbeanstalk/bin/get-config environment -k RAILS_ENV) bundle exec rake assets:precompile"
  07_delete_webapp_healthd:
    command: "rm -rf /etc/nginx/conf.d/webapp_healthd.conf"
  08_delete_webapp:
    command: "rm -rf /etc/nginx/conf.d/webapp.conf"
  09_restart_nginx:
    command: "service nginx restart"
  # 10_set_permission_current:
  #   command: "sudo chown -R webapp:webapp /var/app/current"

