files:
  "/tmp/cron_jobs" :
    mode: "000777"
    owner: root
    group: root
    content: |
      0 * * * * cd /var/app/current/ && RAILS_ENV=$(/opt/elasticbeanstalk/bin/get-config environment -k RAILS_ENV) /opt/elasticbeanstalk/.rbenv/shims/bundle exec /opt/elasticbeanstalk/.rbenv/shims/rake aggregate_log:update_hourly >> /var/app/current/log/cron_log.log 2>&1
      */3 1-9,0 * * * cd /var/app/current/ && RAILS_ENV=$(/opt/elasticbeanstalk/bin/get-config environment -k RAILS_ENV) /opt/elasticbeanstalk/.rbenv/shims/bundle exec /opt/elasticbeanstalk/.rbenv/shims/rake mm_aggregate_log:update >> /var/app/current/log/cron_log.log 2>&1
      0 16 * * * cd /var/app/current/ && RAILS_ENV=$(/opt/elasticbeanstalk/bin/get-config environment -k RAILS_ENV) /opt/elasticbeanstalk/.rbenv/shims/bundle exec /opt/elasticbeanstalk/.rbenv/shims/rake statistics:daily_stat >> /var/app/current/log/cron_log.log 2>&1
    encoding: plain

container_commands:
  01_delete_cron_jobs:
    command: "crontab -r -u root || exit 0"
  02_add_cron_jobs:
    command: "crontab /tmp/cron_jobs -u root"